<form action="/records/{{record._id}}?_method=PUT" method="POST">
  <input type="text" placeholder="name" id="name" name="name" value="{{record.name}}">
  <input type="text" placeholder="date" id="date" name="date" value="{{record.date}}">
  <input type="text" placeholder="category" id="category" name="category" value="{{record.category}}">
  <input type="text" placeholder="amount" id="amount" name="amount" value="{{record.amount}}">
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>